@import "tailwindcss";

:root {
  --color-base: #FAF7E6;     /* Cream base */
  --color-soft: #F8DE8C;     /* Soft yellow */
  --color-primary: #F6C531;  /* Saffron */
  --color-dark: #4A3B1F;     /* Chocolate brown */
}

/* Global background & text */
body {
  background-color: var(--color-base);
  color: var(--color-dark);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
.auth-container {
  transition: transform 0.6s ease-in-out;
}

.move-right {
  transform: translateX(100%);
}

.move-left {
  transform: translateX(0%);
}